<br>
<br>
<br>
<br>
<br>
<br>
<div class="container mt-5 border-0 shadow rounded-3 overflow-hidden">

  <div *ngIf="errmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{errmsg}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <h3 class="text-center d-none d-md-block">Register</h3>
  <!-- Show the heading as left-aligned on smaller screens -->
  <h3 class="text-left d-block d-md-none">Register</h3>
    <br>

    <form [formGroup]= "userReg" (ngSubmit)="userSubmit()" >
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">User name</label>
            <input type="text" class="form-control"  formControlName="username" id="usernameinput">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-dark" style="color: rgb(214, 145, 199);">Submit</button>
      </form>
</div>
  