<!-- Hero Section -->
<section class="hero-section text-center">
  <div class="container">
    <h1 class="text-shadow">Welcome to Cardio Guardian</h1>
    <br>
    <div class="blow">
      <ngx-typed-js [strings]="['Prevention is better than cure.','Your health, Our priority!','Predict risk accuratly with machine learning. ']" [loop]="true" [typeSpeed]="80" >
        <h4 class="typing text-center"></h4>
      </ngx-typed-js>
     </div>
     <br>
    
 
      <a href="#" routerLink="login" class="btn btn-dark btn-lg" style="color: rgb(214, 145, 199);">Register with us</a>
  </div>
</section>

<!-- What We Provide Section -->
<section id="features" class="features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 feature-item">
        <h2><i class="fas fa-search"></i></h2>
        <h3>Early Detection</h3>
        <p>The app aims to identify potential heart disease risks at an early stage,
          helping users take proactive measures to prevent serious health issues.</p>
      </div>
      <div class="col-md-4 feature-item">
        <h2><i class="fas fa-user-md"></i></h2>
        <h3>Personalized Health Insights</h3>
        <p>Provide users with personalized health assessments and insights based on their
          medical history, lifestyle, and genetics, offering tailored recommendations for improving
          heart health.</p>
      </div>
      <div class="col-md-4 feature-item">
        <h2><i class="fas fa-chart-line"></i></h2>
        <h3>Risk Factors Tracking</h3>
        <p>Enable users to track their risk factors over time and receive real-time updates, helping
          them make informed decisions about their lifestyle and treatment options.</p>
      </div>
    </div>
  </div>
</section>
  <footer class="mt-4 text-center">
    <p>&copy; 2023 Heart Disease Prediction App</p>
</footer>